<div class="container">
  <div class="navbar bg-info text-uppercase">
    <h2>MEMBERS ONLY</h2>
    <button type="button" class="btn btn-success">New Post</button>
  </div>
  <%= render 'posts/post' %>
</div>
